.Projects {
    height: 100vh;
    background: $primary-text;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;

    .head {
        display: grid;
        place-items: center;
        height: 50vh;

        h1 {
            font-size: 5rem;
            font-family: Fredoka One;
            color: $primary-font;

            @include respond(phone) {
                font-size: 3rem;
            }
        }

        img {
            height: 10rem;
        }
    }

    .content {
        background: $primary-color;
        display: flex;
        justify-content: center;

        .arrow {
            color: $primary-text;
            font-size: 2.5rem;
            border: solid $primary-font;
            border-radius: 5rem;
            margin: 0 1rem;
            padding: .5rem;
            cursor: pointer;
            background: $primary-font;

            &:hover {
                transform: scale(1.1);
                transition: 0.7s;
            }

            &:active {
                transform: scale(0.97);
                transition: 0.7s;
            }

            @include respond(phone) {
                font-size: 1.7rem;
                margin: 0 .5rem;
                padding: .3rem;
            }
        }

        .carousel {
            height: 90%;
            display: flex;
            justify-content: center;
            align-items: center;

            .project {
                justify-self: center;
                cursor: pointer;
                height: 90%;
                display: grid;
                grid-template-columns: 1fr;
                grid-template-rows: 2fr 1fr;
                justify-content: center;

    
                @include respond(phone) {
                    width: 100%;
                }
    
                .title {
                    display: grid;
                    place-items: center;
    
                    h1 {
                        font-family: Fredoka One;
                        font-size: 9rem;
                        color: $primary-text;
    
                        @include respond(phone) {
                            font-size: 6rem;
                        }
                    }
    
                    p {
                        width: 90%;
                        font-family: Fredoka One;
                        font-size: 2.5rem;
                        color: $primary-text;
    
                        @include respond(phone) {
                            padding: 1.5rem;
                            width: 100%;
                            font-size: 2rem;
                        }
                    }
                }
    
                .links {
                    display: flex;
                    justify-self: center;
                    justify-content: space-between;
                    align-items: center;
                    width: 50%;
    
                    @include respond(phone) {
                        width: 90%;
                    }

                    .noshow {
                        display: none;
                    }
    
                    button {
                        cursor: pointer;
                        height: 5rem;
                        border: none;
                        border-radius: 3rem;
                        outline: none;
                        text-decoration: none;
                        font-size: 2.7rem;
                        font-family: Fredoka One; 
                        padding: 1rem; 
                        background: $primary-text;
    
                        @include respond(phone) {
                            font-size: 2.2rem;
                        }
    
                        a {
                            color: $primary-color; 
                            text-decoration: none;
                        }
                        
                        &:hover {
                            transform: scale(1.1);
                            transition: 0.7s;
    
                        }
    
                        &:active {
                            transform: scale(.99);
                            transition: 0.7s;
                        }
                    }
                }
            }
        }
    }
}