.Intro {
    min-height: 90vh;
    max-height: auto;
    background: $primary-color;
    display: grid;
    grid-template-columns: 2fr 1fr;
    place-items: center;

    .one {
        height: 50%;
        width: 90%;
        display: grid;
        place-items: center;

        h1 {
            color:$primary-text;
            font-size: 9rem;
            font-family: Fredoka One, monospace, cursive, sans-serif;
        }
        
        h2 {
            color:$primary-text;
            font-size: 4rem;
            font-family: Fredoka One, monospace, cursive, sans-serif;
            justify-self: start;
            margin: 3rem;
        }
    }

    .two {
        // img {
        //     border-radius: 50%;
        //     height: 30rem;
        // }
    }
}