.navbar {
    background: $primary-text;
    height: 10vh;
    width: 100%;
    position: fixed;
    border-bottom: .2rem solid $primary-color;
    z-index: 10;

    ul {
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        @include respond(phone) {
            justify-content: center;
        }
        
        li {
            cursor: pointer;
            margin: 0 1.5rem;
            list-style: none;
            font-family: Fredoka One, monospace, cursive, sans-serif;
            font-size: 2rem;
            color: $primary-font;

            @include respond(phone) {
                font-size: 1.7rem;
                margin: 0 1rem;
            }

            &:hover {
                transform: scale(1.1);
                transition: 0.7s;
                color: #1a1717b7;
            }
        }
    }
}