.skills {
    min-height: 90vh;
    max-height: auto;
    background: $primary-color;
    display: grid;

    img {
        background: #fff;
        border: solid $primary-text;
        border-radius: 20%;
        padding: .5rem;
    }

    .box {
        margin: 3rem 0;
        width: 70%;
        justify-self: center;

        #sass {
            padding: 1rem 0;
        }

        #mongoose {
            padding: 2rem 0;
        }

        #express {
            padding: 1.5rem 0;
        }

        #git {
            padding: 1rem .5rem;
        }

        @include respond(phone) {
            width: 90%;
            margin: 1.5rem 0;
        }

        .imgs {
            margin-top: 2rem;
            display: flex;
            align-items: center;

            @include respond(phone) {
                margin-top: 1rem;
            }

            .container {
                padding: .1rem;
                display: grid;
                place-items: center;
            }

            h3 {
                display: none;
                color: $primary-text;
                font-family: Fredoka One, cursive, monospace;
                font-size: 1.5rem;
            }
        }

        img {
            position: relative;
            top: 0;
            transition: top ease 0.5s;
            cursor: pointer;
            height: 8rem;
            width: 8rem;
            margin: 0 1rem;

            &:hover {
                top: -20px;
            }

            @include respond(phone) {
                height: 5rem;
                width: 5rem;
            }
        }

        h2 {
            color: $primary-text;
            font-size: 3rem;
            font-family: Fredoka One, monospace, sans-serif;

            @include respond(phone) {
                font-size: 2rem;
            }
        }
    }

    h1 {
        color: $primary-text;
        font-size: 6rem;
        font-family: Fredoka One, monospace, sans-serif;

        @include respond(phone) {
            font-size: 4rem;
        }
    }

    .text {
        display: grid;
        align-items: center;
    }
}